body{
    margin: 0 auto;
    height: 100vh;
    background-color: white;
    font-size: 1rem;
}

form{
    background-color: azure;
    margin: 0 auto;
    width: 350px;
    padding: 15px;
    align-items: center;
}

#reg{
    background-color: purple;
    color: white;
}

#heading1{
    color: purple;
}

#addi{
    color: purple;
}